/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-toolbar-background:  linear-gradient(45deg, #e94949,  #f17d7d) ;
  --ion-tab-bar-background: #f17d7d;
  --ion-color-danger: #e94949;
}
